.mt2 {
  margin-top: 2px;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.mr5 {
  margin-right: 5px;
}
.ml5 {
  margin-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mr15 {
  margin-right: 15px;
}
.ml15 {
  margin-left: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.mr20 {
  margin-right: 20px;
}
.ml20 {
  margin-left: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb5 {
  margin-bottom: 5px;
}
.mr30 {
  margin-right: 30px;
}
.ml30 {
  margin-left: 30px;
}
.formatText {
  line-height: 18px;
  font-size: 13px;
}
.formatText p {
  margin-bottom: 3px;
}
.formatTextStandard {
  text-align: justify;
  line-height: 18px;
  font-size: 15px;
}
.formatTextStandard p,
.formatTextStandard h3 {
  margin-bottom: 10px;
}
.formatTextStandard img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.formatTextStandard ul {
  list-style: disc outside !important;
  margin: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  color: #333;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #c00000;
}
a {
  color: #333;
}
table.table-mce {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
table.table-mce,
table.table-mce td,
table.table-mce th,
table.table-mce caption {
  border: 1px dashed #bbb;
}
/*header*/
.header-top {
  padding: 15px 0px;
  background: #c00000;
}
.logo-box {
  display: inline-block;
  float: left;
}
.logo-box .img-logo {
  width: 185px;
  margin: 0px;
}
.header-top .search-top {
  float: left;
  max-width: 580px;
  margin-left: 38px;
  margin-top: 5px;
  position: relative;
}
.header-top .search-top:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 15px solid #fff;
  border-bottom: 9px solid transparent;
  position: absolute;
  top: 10px;
  left: 5px;
}
.search-top .inputsearch {
  height: 37px;
  line-height: 37px;
  border: none;
  background: #fff;
  border-radius: 3px 0px 0px 3px;
  width: calc(100% - 50px);
  text-align: left;
  padding: 0px 15px;
  border-right: none;
  float: left;
}
.search-top .icon-click {
  height: 37px;
  line-height: 37px;
  border-radius: 0px 3px 3px 0px;
  border: none;
  background-color: #fff;
  float: left;
  width: 50px;
  border-left: 1px solid #c9cfd0;
  background-image: url("../images/Amthuc365/sprite_img_home.png");
  background-repeat: no-repeat;
  background-position: 6px 5px;
}
.login-box {
  float: right;
}
.menu-top_right {
  margin-bottom: 0px;
  padding-left: 0px;
  display: inline-block;
  margin-top: 5px;
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.menu-top_right li {
  float: left;
  position: relative;
  padding: 0px 5px;
}

.menu-top_right li.login > a {
  padding: 0px;
}
.menu-top_right li.login .txt-name {
  font-weight: 700;
  padding-right: 5px;
  width: 65px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
}
.menu-top_right li.add_ct a {
  display: inline-block;
  padding: 7px 10px;
  background: #fff;
  border-radius: 5px;
  color: #1e1b1b;
}
.menu-top_right li.box_ic > a {
  width: 36px;
  height: 36px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
}
/* .menu-top_right li.login >a{
	display:inline-block;
	padding:7px 10px;
	border-radius:5px;
	color:#fff
} */
.menu-profile_user {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
  min-width: 250px;
  display: none;
  position: absolute;
  top: calc(100% + 15px);
  right: 0px;
  background: #fff;
  /* padding:5px 12px 15px 12px; */
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.menu-profile_user:before {
  position: absolute;
  right: 11px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  top: -15px;
  border-bottom: 15px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}
.menu-profile_user:after {
  position: absolute;
  right: 12px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  top: -14px;
  border-bottom: 14px solid #ffffff;
  content: "";
}
.menu-profile_user li {
  padding: 5px 15px;
  display: inline-block;
  width: 100%;
  text-align: left;
}
.menu-profile_user li a {
  font-size: 15px;
  color: #151718;
}
.menu-profile_user li a:hover,
.menu-profile_user li a:focus {
  color: #c00000;
}
.menu-profile_user li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.menu-you__can {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
  min-width: 300px;
  display: none;
  position: absolute;
  top: calc(100% + 16px);
  right: 0px;
  background: #fff;
  padding: 0px;
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.menu-you__can:before {
  position: absolute;
  right: 11px;
  display: inline-block;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  top: -15px;
  border-bottom: 15px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}
.menu-you__can:after {
  position: absolute;
  right: 12px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  top: -14px;
  border-bottom: 14px solid #ffffff;
  content: "";
}
.menu-you__can li {
  display: block;
  width: 100%;
  padding: 0px 0px 0px 15px;
}
.menu-you__can li:first-child p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0px;
}
.txt-you_can {
  width: calc(100% - 36px);
  margin-bottom: 5px;
}
.txt-you_can a {
  display: inline-block;
  width: 100%;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
.txt-you_can a:hover,
.txt-you_can a:focus {
  color: #c00000;
}
.ic-sprite.ic-location {
  background-position: -8px -524px;
  margin-top: 5px;
}
.ic-sprite.ic-course {
  background-position: -6px -555px;
  margin-top: 5px;
}
.ic-sprite.ic-videoTop {
  background-position: -8px -590px;
  margin-top: 5px;
}
.ic-sprite.ic-pen {
  background-position: -8px -618px;
  margin-top: 5px;
}
.ic-sprite.ic-view {
  width: 20px;
  height: 20px;
  background-position: -8px -692px;
  vertical-align: bottom;
}
.menu-you__can li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.menuh-h__login {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
  min-width: 250px;
  display: none;
  position: absolute;
  top: calc(100% + 15px);
  right: 0px;
  background: #fff;
  padding: 5px 12px 15px 12px;
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.menuh-h__login:before {
  position: absolute;
  right: 20px;
  display: inline-block;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  top: -12px;
  border-bottom: 12px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}
.menuh-h__login:after {
  position: absolute;
  right: 21px;
  display: inline-block;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  top: -11px;
  border-bottom: 11px solid #ffffff;
  content: "";
}

.menuh-h__login li {
  margin-top: 10px;
  display: block;
  width: 100%;
}
.menuh-h__login li a {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 8px 0px;
  float: left;
}

.menuh-h__login li.face a {
  background: #3b5999;
}
.menuh-h__login li.google a {
  background: #dd4b39;
}
.menuh-h__login .social .txt-social {
  width: calc(100% - 55px);
  display: inline-block;
  text-align: center;
  font-size: 13px;
}
.menuh-h__login li.log_res a {
  background: #f9c735;
}

.ic-sprite {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("../images/Amthuc365/sprite_img_home.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}
.ic-sprite.ic-plus_red {
  width: 18px;
  height: 18px;
  background-position: -8px -32px;
}
.ic-sprite.ic-notyfi {
  background-position: 2px -464px;
}
.ic-sprite.ic-plus {
  background-position: 2px -493px;
}
.text-login span {
  display: block;
  line-height: 14px;
  margin-left: 5px;
  margin-top: 12px;
  color: #fff;
}
.header-menu_main {
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 0px;
  display: inline-block;
  width: 100%;
}
.header-menu_main > li {
  float: left;
  display: inline-block;
  position: relative;
}
.header-menu_main > li > a {
  color: #444;
  font-size: 14px;
  padding: 10px 10px;
  display: inline-block;
  font-weight: 500;
}
.header-menu_main > li > a:hover,
.header-menu_main > li > a:focus {
  color: #c00000;
}
.header-main {
  padding: 5px 0px;
  background: #fff;
}
.header-menu_main li .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  /*  padding: 5px 0; */
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  padding-left: 0px;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.submenu li {
  width: 100%;
  display: inline-block;
}
.submenu li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.submenu li a {
  display: inline-block;
  width: 100%;
  color: #444;
  font-size: 14px;
  padding: 8px 15px;
}
.submenu li a:hover,
.submenu li a:focus {
  color: #fff;
  background: #c00000;
}
/*end header*/
.ml-15 {
  margin-left: 15px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-5 {
  margin-left: 5px;
}
.mt0 {
  margin-top: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mt-45 {
  margin-top: 45px;
}
.inline-block {
  display: inline-block;
}
select.contact_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
.select_arow:after {
  content: "\f107";
  font-family: "FontAwesome";
  position: absolute;
  top: 5px;
  right: 6px;
  z-index: 5;
  font-size: 20px;
  pointer-events: none;
  color: #333;
}
.select_arow {
  position: relative;
}
.page__container {
  background: #f0f2f3;
}
.color-666 {
  color: #666;
}
.color-333 {
  color: #333;
}
.fs-15 {
  font-size: 15px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.bg_f0f2f3 {
  background: #f0f2f3;
}
.pd_10_0 {
  padding: 10px 0px;
}
.pd_45_0 {
  padding: 45px 0px;
}
label.star-review {
  display: inline-block;
  background-image: url(../images/rate-1.png);
  height: 13px;
  width: 80px;
  background-position: 0px -13px;
  vertical-align: middle;
}
label.star-review span {
  display: inline-block;
  background-image: url("../images/rate-1.png");
  height: 13px;
  background-position: 0px 0px;
  float: left;
}
.color-c00000 {
  color: #c00000;
}
.bg_fff {
  background: #fff;
}
.box-subscribe {
  width: 100%;
  background-image: url("../images/Amthuc365/bg_subscribe.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.box-middle_subscribe {
  display: table;
  width: 100%;
  height: 212px;
}
.box-subscribe .subscribe-middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.entry-subscribe {
  display: inline-block;
  max-width: 635px;
  width: 100%;
}
.entry-subscribe .col-md-5 {
  width: 41.66666667%;
}
.subscribe-control {
  display: block;
  width: 100%;
  padding: 6px 15px;
  color: #707070;
  height: 37px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  /* background-image: none; */
  border: 1px solid #dcdfdf;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn-subscribe_res {
  display: inline-block;
  width: 100%;
  height: 35px;
  line-height: 35px !important;
  background: #c00000;
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
}
.btn-subscribe_res:hover,
.btn-subscribe_res:focus {
  color: #fff;
}
.txt-subscribe h3 {
  margin-top: 0px;
  font-size: 20px;
  color: #1a1c1d;
  font-weight: 400;
}
.txt-subscribe p {
  font-size: 14px;
  color: #1a1c1d;
}
.la_err {
  width: 100%;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: left;
  color: #c00000;
  display: none;
}
.breadcrumb {
  padding: 10px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #333;
  content: "\f101";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.breadcrumb .last {
  font-weight: 700 !important;
  text-decoration: none;
  cursor: default;
  color: #c00000;
}
.breadcrumb li a {
  color: #333;
  float: none !important;
  display: inline-block;
}

/*register login*/
.content__form_login {
  padding-bottom: 35px;
}
.content__form_login .login_form {
  float: left;
  width: 55%;
  padding: 25px 45px;
  border-right: 1px solid #ccc;
  position: relative;
}
.content__form_login .login_social {
  float: left;
  width: 45%;
  padding: 25px 45px;
}
.title_modal {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  padding-left: 45px;
  margin-bottom: 0px;
  margin-top: 30px;
}
.login_form .input-group-addon {
  background: #fff;
}
.iplr_form {
  display: block;
  width: 100%;
  height: 46px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  /* background-image: url('../images/home/spite_register.png');
		background-repeat: no-repeat; */
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.icon_form {
  display: inline-block;
  background-image: url("../images/Amthuc365/spite_register.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 29px;
}
.name.icon_form {
  background-position: 0px 6px;
}
.phone.icon_form {
  background-position: 0px -50px;
}
.email.icon_form {
  background-position: 0px -103px;
}
.pass.icon_form {
  background-position: 0px -166px;
}
.name__people {
  position: relative;
}
.name__people:before {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 8px;
}
.checkbox {
  padding-left: 20px;
}
.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff;
}
.checkbox input[type="checkbox"]:checked + label::after,
.checkbox input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff;
}
.btn_lr_submit {
  height: 46px;
  width: 100%;
  text-align: center;
  line-height: 46px;
  background: #c00000;
  color: #fff;
  font-size: 18px;
  border: 1px solid #ccc;
}
/* .content__form_login {
		padding:25px 0px;
	} */
.btn_social {
  padding: 0px 10px;
  height: 40px;
  width: 100%;
  text-align: center;
  border: none;
  display: inline-block;
  margin-bottom: 15px;
  color: #fff;
  font-size: 15px;
  line-height: 40px;
}
.btn_social span {
  float: left;
  color: #fff;
  display: inline-block;
  line-height: 40px;
}
.btn_social.face {
  background: #3b5998;
}
.btn_social.google {
  background: #db4a39;
}
.meta__tool a {
  font-size: 15px;
  color: #333;
  display: inline-block;
}
.meta__tool a:last-child {
  color: #0093ea;
  margin-left: 15px;
}
.checkbox-success a {
  color: #0093ea;
}
.text_or {
  position: absolute;
  top: 45%;
  right: -25px;
  z-index: 5;
  padding: 10px;
  background: #fff;
  color: #333;
}
.modal-content.form_login_register {
  border-radius: 0;
}
.close.close_form {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  opacity: 1;
  margin-right: 15px;
  margin-top: 10px;
}
.icon_teacher {
  display: inline-block;
  width: 20px;
}
.tooltip > .tooltip-inner {
  background-color: #c00000;
}
.tooltip.right > .tooltip-arrow {
  background-color: #c00000;
}
em.error {
  color: #ed3237;
}
/*end register*/
/*checkbox*/
/*end checkbox*/
/*page css*/
.it-new .it-img {
  position: relative;
}
.box-course_sb .head {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 23px;
}
.it-img .res-rate {
  display: inline-block;
  padding: 5px 15px;
  background: #fff;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.it-body {
  padding: 15px;
  background: #fff;
  border: 1px solid #e2e1e1;
  border-top: none;
}
.it-new .it-body h3 {
  margin: 0px;
  height: 36px;
  overflow: hidden;
}
.it-new .it-body h3 a {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px !important;
  display: inline-block;
  width: 100%;
  color: #151718;
  text-align: center;
}
.it-new .it-meta {
  display: inline-block;
  padding-top: 10px;
  border-top: 1px solid #cccccc;
  margin-top: 10px;
}
.it-new .it-meta .it-author img {
  width: auto !important;
  display: inline-block;
  margin-right: 5px;
}
.it-new .it-meta .it-author span {
  display: inline-block;
  max-width: 80px;
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.it-new .it-meta p {
  display: inline-block;
}
.it-new .it-body h3 a:hover,
.it-new .it-body h3 a:focus {
  color: #c00000;
}
.ic-sprite.ic-wish {
  width: 18px;
  height: 18px;
  background-position: -7px -54px;
}
.owl-slide__hotNew.owl-theme .owl-nav [class*="owl-"] i {
  font-size: 20px;
  color: #333;
}
.owl-slide__hotNew.owl-theme .owl-nav [class*="owl-"] {
  background: #fff;
  position: absolute;
  top: 50%;
  padding: 28px 12px;
  border-radius: 0;
}
.owl-slide__hotNew.owl-theme .owl-nav .owl-prev {
  left: 10px;
}
.owl-slide__hotNew.owl-theme .owl-nav .owl-next {
  right: 10px;
}
.owl-slide__hotNew .owl-item:not(:last-child) .it-new .it-body {
  border-right: none;
}
.ic-sprite.ic-recipe {
  background-position: 0px -103px;
  vertical-align: text-bottom;
  margin-right: 15px;
}
.box-pre__load {
  width: 100%;
  height: 410px;
  display: table;
  text-align: center;
  display: none;
}
.box-lst_course .box-pre__load {
  height: 868px;
}

/* .box-pre__load .pre-middle{
	vertical-align:middle;
	display:table-cell;
} */
.ic-sprite.ic-news {
  background-position: 0px -139px;
  vertical-align: text-bottom;
  margin-right: 15px;
}
.ic-sprite.ic-restaurant {
  background-position: 0px -181px;
  vertical-align: text-bottom;
  margin-right: 15px;
}
.header-home_box h3 a {
  font-size: 25px;
  font-weight: bold;
  color: #c00000;
}
.header-home_box .txt {
  color: #151718;
}
.menu-new_home li a {
  font-size: 15px;
  color: #666;
}
.menu-new_home li a:hover,
.menu-new_home li a:focus {
  color: #c00000;
}
.menu-new_home {
  margin-top: 10px;
}
.rest-img .addWishlist {
  position: absolute;
  top: 10px;
  right: 30px;
}
.it-new.it-res .it-img {
  position: relative;
}
.it-new.it-res .addWishlistSmall {
  position: absolute;
  top: 20px;
  right: 20px;
}
.restaurant-top .rest-img {
  float: left;
  width: 45%;
  position: relative;
}
.restaurant-top .rest-body {
  float: left;
  width: 55%;
}
.ic-sprite.ic-map {
  width: 20px;
  height: 20px;
  background-position: -6px -223px;
  margin-right: 10px;
}
.rest-body h3 a {
  font-size: 25px;
  color: #151718;
  font-weight: 400;
  line-height: 28px !important;
  display: inline-block;
}
.rest-body .res-map a {
  font-size: 14px;
  color: #666;
}
.ic-sprite.ic-comment {
  background-position: -7px -253px;
  vertical-align: middle;
  margin-right: 15px;
  width: 25px;
  height: 20px;
}
.res-meta > p {
  display: inline-block;
  margin-bottom: 0px;
}
.res-content {
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.res-content .intro {
  font-size: 15px;
  color: #151718;
}
.res-lst-menu ul {
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
  padding-left: 0px;
}
.res-lst-menu ul li {
  float: left;
  width: 50%;
  padding: 3px 0px 3px 25px;
  position: relative;
}
.res-lst-menu ul li:before {
  content: "";
  width: 14px;
  height: 14px;
  background-image: url(../images/Amthuc365/sprite_img_home.png);
  background-repeat: no-repeat;
  background-position: -6px -281px;
  position: absolute;
  top: 7px;
  left: 0px;
}
.res-lst-menu > h3 {
  font-size: 14px;
  text-transform: uppercase;
}
.it-new.it-res {
}
.it-new.it-res .border {
  border: 1px solid #ccc;
  padding: 20px 20px 0px 20px;
  background: #fff;
}
.it-new.it-res .it-body {
  border: none;
}
.owl-slide__restaurant.owl-theme .owl-stage-outer {
  width: 100%;
  padding: 0px;
}
.ic-sprite.ic-video {
  background-position: 0px -302px;
  vertical-align: text-bottom;
  margin-right: 15px;
}
.menu-most_new {
  margin-bottom: 0px;
  list-style-type: none;
  padding-left: 0px;
}
.menu-most_new li {
  padding: 20px 0px;
}
.menu-most_new li:not(:last-child) {
  border-bottom: 1px solid #e2e1e1;
}
.it-p_new .it-p_new_img {
  float: left;
  width: 80px;
  position: relative;
}
.it-p_new_img .txt_border {
  padding: 5px;
  background: #fff;
  position: absolute;
  top: 25px;
  left: -15px;
  border-radius: 50%;
}
.it-p_new_img .txt_border .txt_num {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  display: inline-block;
  background: #c00000;
  color: #fff;
  border-radius: 50%;
}
.it-p_new .it-p_new_body {
  float: left;
  width: calc(100% - 80px);
  padding-left: 10px;
}
.it-p_new_body h3 a {
  font-size: 14px;
  color: #151718;
  display: inline-block;
  line-height: 18px !important;
}
.box-most__new {
  padding: 20px 20px 0px 20px;
  background: #fff;
  border: 1px solid #d9dcdc;
  margin: 30px 0px;
}
.it-img.video-img .img-play {
  position: absolute;
  top: 45%;
  /* left:45%; */
}
.ic-sprite.ic-chef {
  background-position: 0px -386px;
  vertical-align: text-bottom;
  margin-right: 15px;
}
.box__rate .rate-1 span {
  background-position: 0 0;
}
.rate-1,
.rate-1 span {
  display: inline-block;
  width: 77px;
  height: 13px;
  background: url(../images/rate-1.png) repeat-x 0 -13px;
  text-align: left !important;
}
.rate-1 span {
  display: inline-block;
  background-position: 0 -1px;
}
.box-lst_course {
  padding: 45px 0px;
  background: #fff;
}
.submenu-course {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
  min-width: 200px;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 999;
  display: none;
  background: #eee;
}
.submenu-course li {
  display: block;
  width: 100%;
}
.submenu-course li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.submenu-course li a {
  display: inline-block;
  width: 100%;
  padding: 6px 15px;
  color: #666666;
}
.menu-new_home > li {
  position: relative;
}
.submenu-course li a:hover,
.submenu-course li a:focus {
  background: #c00000;
  color: #fff;
}
.ic-sprite.ic-news_events {
  background-position: 0px -427px;
  vertical-align: text-bottom;
  margin-right: 15px;
}
.box-news_event {
  background: #fff;
  padding-bottom: 45px;
}

/*end*/
/*footer*/
.footer__new {
  background: #2e3a49;
  padding: 40px 0px 25px;
}
.footer-top .col-ft {
  width: 20%;
  float: left;
}
.col-ft > h2 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.menu-col__ft {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.menu-col__ft li {
  padding: 5px 0px;
  width: 100%;
}
.menu-col__ft li a {
  color: #cccccc;
  font-size: 14px;
}
.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #666666;
}
.footer-bottom img {
  display: inline-block;
}
.menu-footer__bottom {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 20px;
  list-style-type: none;
  padding-left: 0px;
}
.menu-footer__bottom li {
  float: left;
}
.menu-footer__bottom li a {
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
}
/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  margin-bottom: 0px;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}
/* footer social icons */
.social-network a.icoRss:hover {
  background-color: #f56505;
}
.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}
.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}
.social-network a.icoGoogle:hover {
  background-color: #bd3518;
}
.social-network a.icoVimeo:hover {
  background-color: #0590b8;
}
.social-network a.icoLinkedin:hover {
  background-color: #bd081c;
}
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  background: #fff;
}
.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
  color: #2e3a49;
}
ul.social-network li:first-child {
  margin-left: 0px !important;
}
.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
/*end social*/
/*start search*/
.box-lst_data_search {
  /*  height: 350px;
    overflow-y: scroll; */
}
.box-search_filter .search-keyword {
  border: none;
  border-radius: 5px;
  width: calc(100% - 125px);
  float: right;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  height: 45px;
  line-height: 45px;
  padding: 5px 15px;
}
.box-search_filter .entry-search_filter {
  float: right;
  width: 100%;
  margin-left: 10px;
  border: 1px solid #d9dcdc;
  background: #fff;
  border-radius: 5px;
  position: relative;
}
.box-search_filter .search-filter {
  display: inline-block;
  float: right;
  color: #151718;
  font-size: 12px;
  font-weight: bold;
  height: 45px;
  padding-top: 10px;
  padding-left: 5px;
  width: 80px;
}
.box-search_filter .search-filter:hover,
.box-search_filter .search-filter:focus {
  color: #c00000;
  text-decoration: none;
}
.owl-slide__hasArow.owl-theme .owl-nav [class*="owl-"] {
  background: #fff;
  margin: 0px;
  padding: 0px;
  width: 45px;
  height: 45px;
  position: absolute;
  text-align: center;
  line-height: 45px;
  top: 30%;
  border-radius: 50%;
}
.owl-slide__hasArow.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #fff;
}
.owl-slide__hasArow.owl-theme .owl-nav [class*="owl-"] i {
  color: #666;
  font-size: 20px;
  line-height: 45px;
}
.owl-slide__hasArow.owl-theme .owl-nav .owl-prev {
  left: -19px;
}
.owl-slide__hasArow.owl-theme .owl-nav .owl-next {
  right: -19px;
}
.owl-slide__hasArow {
  overflow: hidden;
}
.box-search_filter .search-submit {
  display: inline-block;
  float: right;
  height: 45px;
  background-position: 5px 0px;
  width: 45px;
  border-left: 1px solid #ccc;
}

.ic-sprite.ic-search_header {
  background-position: 5px 0px;
  width: 41px;
  height: 30px;
  margin-top: 9px;
}
.box-search_filter .title-search {
  margin-top: 0px;
  font-size: 30px;
  color: #151718;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: center;
}
#autosuggetDataTop {
  min-width: 550px;
  display: none;
  position: absolute;
  /*  top: calc(100% + 15px); */
  top: 100%;
  left: 0px;
  background: #fff;
  /*  padding: 5px 12px 15px 12px; */
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#autosuggetData {
  min-width: 550px;
  display: none;
  position: absolute;
  /*  top: calc(100% + 15px); */
  top: 100%;
  left: 0px;
  background: #fff;
  /*  padding: 5px 12px 15px 12px; */
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

/* #autosuggetData:before {
    position: absolute;
    left: 20px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    top: -12px;
    border-bottom: 12px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
#autosuggetData:after {
    position: absolute;
    left: 21px;
    display: inline-block;
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    top: -11px;
    border-bottom: 11px solid #ffffff;
    content: '';
} */
.menu-type_search,
.menu-item_type {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
  /* display:inline-block; */
  width: 100%;
}
.menu-type_search > li {
  border-bottom: 1px solid #ccc;
  background: #ddd;
}
.menu-type_search > li .type-left {
  width: 30%;
  float: left;
  padding-left: 20px;
}
.menu-type_search .type-left h3 {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #151718;
}
.menu-type_search > li .menu-item_type {
  width: 70%;
  float: left;
}
.item-search .it-search_img {
  float: left;
  width: 60px;
}
.item-search .it-search_body {
  float: left;
  width: calc(100% - 60px);
}
.it-search_body h3 {
  margin-top: 5px !important;
  margin-bottom: 0px;
}
.it-search_body h3 a {
  font-size: 16px;
  color: #151718;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
}
.it-search_body h3 a:hover,
.it-search_body h3 a:focus {
  color: #c00000;
}
.menu-item_type .item-search {
  border-bottom: 1px solid #eee;
  padding: 5px;
  padding-left: 15px;
  background: #fff;
}
.box-filter_byRecipe {
  width: 550px;
  display: none;
  position: absolute;
  top: calc(100% + 15px);
  right: 45px;
  background: #f9f9f9;
  padding: 0px;
  z-index: 99;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.box-filter_byRecipe:before {
  position: absolute;
  right: 20px;
  display: inline-block;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  top: -12px;
  border-bottom: 12px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}
.box-filter_byRecipe:after {
  position: absolute;
  right: 21px;
  display: inline-block;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  top: -11px;
  border-bottom: 11px solid #ffffff;
  content: "";
}
.box-filter_byRecipe #clienttabsSearch {
  float: left;
  width: 30%;
}
#clienttabsSearch ul {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.box-filter_byRecipe .box_tab_content {
  float: left;
  width: 70%;
  background-color: #fff;
  padding: 15px 0px;
  border-left: 1px solid #ddd;
}
.box-filter_byRecipe .box_tab_content .box-list_content_tab {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  background-color: #fff;
}
.box-list_content_tab .checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.box-list_content_tab::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 15px;
}

.box-list_content_tab::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
  cursor: pointer;
}

.box-list_content_tab::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#c00000),
    to(#c00000),
    color-stop(0.6, #c00000)
  );
}
#clienttabsSearch ul > li {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 5px 15px;
}
#clienttabsSearch ul > li a {
  color: #151718;
  font-size: 16px;
  display: inline-block;
  width: 100%;
}
#clienttabsSearch .tab.tabselected {
  background: #fff;
}
.entry-recipe_bottom {
  border-top: 1px solid #ddd;
  padding: 15px 0px;
  text-align: center;
}
.box-next_more {
  display: inline-block;
  background: #f0f0f0;
  width: 100%;
  max-width: 600px;
  padding: 10px 0px;
}
/*end search*/
/*end footer*/
.owl-theme.owl_sb_you_care .owl-dots .owl-dot.active span,
.owl-theme.owl_sb_you_care .owl-dots .owl-dot:hover span {
  background: #c00000;
}
.fa-foot_mobile {
  display: none;
  font-size: 20px;
  color: #fff;
  float: right;
}
.movetop {
  display: none;
  cursor: pointer;
  outline: none;
  background: #ddd;
  position: fixed;
  z-index: 50;
  bottom: 10px;
  right: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  padding: 11px 16px;
  font-size: 24px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.movetop:hover {
  background: #ac1616;
  color: #fff;
}
.icon_move_top_recipe {
  display: inline-block;
  width: 18px;
  height: 14px;
}
.movetop .movetop_recipe {
  color: #838382;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
}
/* COLOR BOX */
#cboxWrapper,
.cboxPhoto {
  max-width: none;
}
.cboxIframe,
.cboxPhoto {
  display: block;
  border: 0;
}
#cboxClose:active,
#cboxNext:active,
#cboxPrevious:active,
#cboxSlideshow:active,
#colorbox {
  outline: 0;
}
#cboxCurrent,
#cboxTitle {
  position: absolute;
  bottom: 4px;
}
#cboxOverlay,
#cboxWrapper,
#colorbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../images/overlay.png);
}
#cboxBottomLeft,
#cboxMiddleLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingGraphic,
#cboxLoadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cboxPhoto {
  float: left;
  margin: auto;
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  width: 100%;
  height: 100%;
}
#cboxContent,
#cboxLoadedContent,
#colorbox {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) -101px 0 no-repeat;
}
#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) -130px 0 no-repeat;
}
#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) -101px -29px no-repeat;
}
#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) -130px -29px no-repeat;
}
#cboxMiddleLeft {
  width: 21px;
  background: url(../images/controls.png) left top repeat-y;
}
#cboxMiddleRight {
  width: 21px;
  background: url(../images/controls.png) right top repeat-y;
}
#cboxTopCenter {
  height: 21px;
  background: url(../images/border.png) repeat-x;
}
#cboxBottomCenter {
  height: 21px;
  background: url(../images/border.png) 0 -29px repeat-x;
}
#cboxContent,
.cboxIframe {
  background: #fff;
}
#cboxContent {
  overflow: hidden;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxLoadedContent {
  margin-bottom: 28px;
}
#cboxTitle {
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
  display: none;
}
#cboxCurrent {
  left: 58px;
  color: #949494;
}
#cboxLoadingOverlay {
  background: url(../images/loading_background.png) center center no-repeat;
}
#cboxLoadingGraphic {
  background: url(../images/loading.gif) center center no-repeat;
}
#cboxClose,
#cboxNext,
#cboxPrevious,
#cboxSlideshow {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: 0 0;
}
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}
#cboxClose,
#cboxNext,
#cboxPrevious {
  position: absolute;
  bottom: 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
#cboxPrevious {
  left: 0;
  background: url(../images/controls.png) -75px 0 no-repeat;
}
#cboxPrevious:hover {
  background-position: -75px -25px;
}
#cboxNext {
  left: 27px;
  background: url(../images/controls.png) -50px 0 no-repeat;
}
#cboxNext:hover {
  background-position: -50px -25px;
}
#cboxClose {
  right: 0;
  background: url(../images/controls.png) -25px 0 no-repeat;
}
#cboxClose:hover {
  background-position: -25px -25px;
}
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopRight {
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}
/*customer responsive*/

@media (max-width: 1199px) {
  /* CSS destop md - container 970px*/
}
@media (max-width: 1024px) {
  /* CSS destop md - container 970px*/
  .tinimce__content img {
    max-width: 100%;
    height: auto;
  }
  .menu_mobile_res.nav-up {
    top: -100px;
  }
  .block1024 {
    display: block !important;
  }
  .header-destop {
    display: none;
  }
  .fa-menu__mobile {
    position: absolute;
    font-size: 26px;
    top: 15px;
    right: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: right;
  }
  .sub-menu__mobi li {
    background: #fff;
  }
  .sub-menu__mobi {
    display: none;
  }
  .menu_content_scrollbar li.relative {
    position: relative;
  }
  .fa-angle-up:before {
    content: "\f106";
  }
  .overfolow_mb {
    overflow: hidden;
    position: relative;
    height: 100vh;
  }
  .page__container,
  .page-container {
    margin-top: 96px;
  }
  .wapper-container .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .wapper-container .row {
    margin-right: -10px;
    margin-left: -10px;
  }
  .wapper-container [class*=" col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  /*Icon*/
  #nav-icon1 {
    width: 60px;
    height: 46px;
    padding: 10px 15px 10px 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: inline-block;
    float: left;
  }
  #nav-icon1 span,
  #nav-icon3 span,
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  #nav-icon1 span:nth-child(2) {
    top: 10px;
  }
  #nav-icon1 span:nth-child(3) {
    top: 20px;
  }
  #nav-icon1.open span:nth-child(1) {
    top: 14px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  /*end Icon*/
  .logo_mobi {
    display: inline-block;
    float: left;
    width: calc(100% - 206px);
    text-align: center;
    padding: 0px 10px;
  }
  .logo_mobi img {
    display: inline-block;
    margin-top: 5px;
  }
  .device__screen .group__header {
    display: inline-block;
    width: 100%;
    float: left;
  }
  .box-notifications__mb {
    float: left;
    width: 73px;

    padding-top: 9px;
    text-align: center;
    height: 46px;
    position: relative;
  }
  .box-notifications__mb .dropdown-notifications-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
  }
  .box-notifications__mb .ic-sprite.ic-notyfi {
    background-position: -1px -468px;
    width: 32px;
    height: 32px;
  }
  .box-notifications__mb .open .dropdown-menu.dropdown-notifications {
    font-size: 15px;
    max-width: 100%;
    min-width: 325px !important;
    text-align: left;
    right: -71px;
    top: 38px !important;
    left: auto !important;
  }
  .box-notifications__mb .dropdown .dropdown-menu.arrow:before {
    top: -7px;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    right: 100px !important;
    left: unset !important;
  }

  .box-notifications__mb .dropdown .dropdown-menu.arrow:after {
    top: -6px;
    border-bottom: 6px solid #ffffff;
    right: 101px !important;
    left: unset !important;
  }
  .ic-sprite.ic-plus_white {
    width: 18px;
    height: 18px;
    background-position: -8px -951px;
  }
  .add_data_mb > a {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .add_data_mb .menu-you__can {
    left: 0px;
    text-align: left;
    min-width: 250px;
    width: 250px;
  }
  .add_data_mb .menu-you__can:before {
    left: 20px;
    right: unset;
  }
  .add_data_mb .menu-you__can:after {
    left: 21px;
    right: unset;
  }
  .menu-you__can li {
    line-height: 1.1;
  }
  .login-header_mb {
    float: left;
    width: 73px;
    /* border-left: 1px solid #ccc; */
    padding-top: 9px;
    text-align: center;
    height: 46px;
    position: relative;
  }
  .login-header_mb > a {
    display: inline-block;
    width: 31px;
    height: 31px;
    border: 1px solid #d8cfcf;
    border-radius: 50%;
    position: relative;
  }
  .login-header_mb > a > img {
    margin-top: 5px;
  }
  .login-header_mb > a.is-login > img {
    margin-top: 0px;
  }
  .login-header_mb > a.is-login {
    border: none;
  }
  .menuh-h__login li {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
  }
  .lst-page_header {
    padding: 0px 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    float: left;
    line-height: 0.8;
  }
  .add_data_mb {
    display: inline-block;
    width: 50px;
    height: 48px;
    line-height: 48px;

    float: left;
    padding-right: 10px;
  }
  .search-mb_header.search-top {
    float: left;
    width: calc(100% - 50px);
    padding-left: 15px;
    padding: 5px;
  }
  .box-center__header {
    width: 100%;
    max-width: 500px;
    display: inline-block;
  }
  .menu-lst_page li a {
    display: inline-block;
    padding: 2px 7px;
    color: #fff;
  }
  .menu-lst_page li:not(:last-child) {
    border-right: 1px solid #fff;
  }
  .menu-lst_page {
    display: inline-block;
  }
  .restaurant-top .rest-body {
    padding-left: 15px;
  }
}
@media (max-width: 991px) {
  /* CSS tablet sm  - container 750px*/
  .owl-slide__hotNew.owl-theme .owl-nav [class*="owl-"] {
    background: #fff;
    position: absolute;
    top: 25%;
    padding: 28px 12px;
    border-radius: 0;
  }
  .hidden-sm {
    display: none;
  }
  .restaurant-top .rest-body {
    padding-left: 15px;
  }
}
@media (max-width: 767px) {
  /* CSS phone xs */
  .hidden-xs {
    display: none;
  }
  .block767 {
    display: block !important;
  }
  .header-home_box h3 a {
    font-size: 22px;
  }
  .restaurant-top .rest-img {
    width: 100%;
  }
  .restaurant-top .rest-body {
    width: 100%;
    padding-top: 15px;
  }
  .mb-15_mb {
    margin-bottom: 15px;
  }
  .entry-subscribe {
    padding: 15px 10px;
  }
  .entry-subscribe .col-md-5 {
    width: 100%;
  }
  .box-subscribe {
    background: #f0f2f3;
    height: auto;
    padding-top: 20px;
  }
  .footer-top .col-ft {
    width: 100%;
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
  }
  .h-ft_top {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px !important;
    cursor: pointer;
    font-weight: 400;
    text-transform: none !important;
  }
  .menu-col__ft {
    display: none;
  }
  .fa-foot_mobile {
    display: block !important;
  }
  .no-border_mobile {
    border: none !important;
  }
  .footer__new {
    padding-top: 15px;
  }
  .footer-bottom {
    border: none !important;
    margin-top: 0px;
  }
  .footer-bottom .text-center.mt30 {
    margin-top: 0px;
  }
  .menu-footer__bottom li {
    float: none;
    text-align: center;
    display: inline-block;
  }
  .it-recipe_first {
    margin-bottom: 30px;
  }
  .it-recipe_left .it-meta p.it-wish {
    width: 30px;
  }
  .box-filter_byRecipe {
    right: 0px;
    width: 100%;
  }
  .box-filter_byRecipe #clienttabsSearch {
    width: 100%;
  }
  .box-filter_byRecipe .box_tab_content {
    width: 100%;
  }
  .content__form_login .login_form {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 25px 15px;
  }
  .content__form_login .login_social {
    width: 100%;
    padding: 25px 15px;
  }
  .text_or {
    position: absolute;
    top: auto;
    bottom: -20px;
    right: 0;
    left: 0;
    z-index: 5;
    padding: 10px;
    background: #fff;
    color: #333;
    display: inline-block;
    width: 50px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  /* CSS phone xs */
  .it-new .it-img img.img-responsive {
    width: 100% !important;
  }
}
.icon_ads {
  display: inline-block;
  width: 18px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../images/ads.png);
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 1px;
}
.footer_ads a {
  background: #c00000;
  border-radius: 5px;
  padding: 8px;
}
.footer_ads a:hover {
  background: #ab0707;
}
